h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, 
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
} 

img {
  display:block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section { 
  padding-top: 120px;
  padding-bottom: 120px;
}

/*HEADER*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.page-header { 
  padding-top: 24px;
  padding-bottom: 24px;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2E2F42;
  text-decoration: none;
}

.low-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33px;  
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  text-decoration: none;
}

.logo {
  margin-right: 77px;
}

.menu {
  display: flex;
  align-items: center;
} 

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.mail-contact {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;  
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-phone-number {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: #434455; 
  margin-left: 40px;
}

/*HERO*/

.hero-container {
  background: #2E2F42;
  text-align: center;
  padding: 192px 0;
}

.hero-title {
  max-width: 500px;
  margin: 0 auto 48px auto;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 0.02em;
}

.modal-btn {
  display: inline-block;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px transparent;
  min-width: 106px;
  text-align: center;
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.04em;
}

/*INFA*/
.container-every {
  display: flex;
}

.direction {
  display: flex;
}

.infa:not(:last-child) {
  margin-right: 24px;
  height: 64px;
}

.features{
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}


/*MAIN PROGECTS PICTURES*/
.main-project {
  padding-bottom: 120px;
}

.visually-hidden {
  margin-bottom: 72px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
}

.projects-pictures {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

/*TEAM*/

.team {
  background: #F4F4FD;
}

.card-content {
  text-align: center;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;  
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid  #FFFFFF;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.features {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 8px;
}

.description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/*FOOTER*/

.about {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #2E2F42;
}

.down-logo {
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
  text-decoration: none;
}

.lower-title {
  width: 264px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #E7E9FC;
}
